* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header-container {
  width: 100%;
  height: auto;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background-color: rgba(111, 126, 255, 0.11);
}
.header-container .img-background {
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.header-container .header-first {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-container .header-first .left-menu {
  width: 20%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header-container .header-first .left-menu .user-img-container {
  width: 50px;
  height: 50px;
  background-color: white;
  margin-right: 10px;
  border-radius: 50%;
  border: none;
}
.header-container .header-first .left-menu .MuiButtonBase-root {
  outline: none;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  color: white;
  font-size: 10pt;
}
.header-container .header-first .right-menu {
  width: 70%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.header-container .header-first .right-menu .header-li-container {
  width: 85%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header-container .header-first .right-menu .header-li-container ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  font-family: vazir;
  width: 100%;
  height: 50%;
  margin: 0;
  color: white;
  font-size: 11pt;
}
.header-container .header-first .right-menu .header-li-container ul li {
  position: relative;
  transition: all 0.5s ease;
}
.header-container .header-first .right-menu .header-li-container ul li::after {
  content: "";
  position: absolute;
  top: -10px;
  right: 0;
  height: 2px;
  width: 0%;
  background-color: blue;
  transition: all 0.5s ease;
  border-radius: 5px;
  box-shadow: 0px 0px 5px rgba(0, 0, 255, 0.63);
}
.header-container .header-first .right-menu .header-li-container ul li:hover::after {
  width: 100%;
}
.header-container .header-first .right-menu .header-li-container ul li:hover {
  text-shadow: 0px 0px 4px white;
}
.header-container .header-first .right-menu .header-li-container ul a {
  text-decoration: none;
  color: inherit;
}
.header-container .header-first .right-menu .logo-container {
  width: 15%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header-container .header-first .right-menu .logo-container img {
  width: 70px;
  height: 70px;
  object-fit: cover;
}
.header-container .header-center {
  width: 100%;
  height: 275px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: 40px;
}
.header-container .header-center .h3-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 65%;
}
.header-container .header-center .h3-container .h3-header-first {
  text-align: center;
  font-family: vazir;
  color: white;
  text-shadow: 0px 0px 3px white;
}
.header-container .header-center .search-box-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 35%;
}
.header-container .header-center .search-box-container .search-box {
  width: 60%;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 35px;
  box-shadow: 0px 0px 0px 8px rgba(255, 255, 255, 0.12);
  -webkit-box-shadow: 0px 0px 0px 8px rgba(255, 255, 255, 0.12);
  -moz-box-shadow: 0px 0px 0px 8px rgba(255, 255, 255, 0.12);
}
.header-container .header-center .search-box-container .search-box .icon-container {
  width: 10%;
  height: 100%;
  background-color: white;
  border-bottom-left-radius: 35px;
  border-top-left-radius: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header-container .header-center .search-box-container .search-box .icon-container i {
  font-size: 16pt;
  color: #509CD3;
  transition: all 0.5s ease;
}
.header-container .header-center .search-box-container .search-box .icon-container i:hover {
  color: #1968a1;
}
.header-container .header-center .search-box-container .search-box input {
  width: 90%;
  height: 100%;
  border-bottom-right-radius: 35px;
  border-top-right-radius: 35px;
  border: none;
  outline: none;
  direction: rtl;
  padding-right: 30px;
  font-family: vazir;
  font-size: 16pt;
}
.header-container .header-center .search-box-container .search-box input::placeholder {
  font-size: 14pt;
}
.header-container .header-last {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 235px;
}
.header-container .header-last div {
  width: 16.6%;
  height: 90%;
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  position: relative;
}
.header-container .header-last div img {
  width: 95%;
  height: 85%;
}
.header-container .header-last div p {
  font-family: vazir;
  font-size: 14pt;
  color: white;
}
.header-container .header-last div .absolute-position {
  position: absolute;
  font-size: 14pt;
  color: white;
  font-family: "Poppins", sans-serif;
}
.header-container .header-last div .student {
  top: 26%;
  right: 4%;
}
.header-container .header-last div .teacher {
  top: 25%;
  right: 15%;
}
.header-container .header-last div .time {
  top: 25%;
  right: 3%;
}

.selected-category {
  color: rgba(216, 214, 214, 0.747);
}

.display-off {
  display: none !important;
}

@media only screen and (max-width: 1350px) {
  .student {
    right: 0 !important;
  }

  .time {
    right: 0 !important;
  }
}
@media only screen and (max-width: 1264px) {
  .student {
    right: -10px !important;
  }

  .time {
    right: -10px !important;
  }

  .teacher {
    right: 10% !important;
  }
}
@media only screen and (max-width: 1145px) {
  .student {
    right: -16px !important;
  }

  .time {
    right: -16px !important;
  }

  .teacher {
    right: 8% !important;
  }
}
@media only screen and (max-width: 1040px) {
  .student {
    right: -21px !important;
  }

  .time {
    right: -21px !important;
  }

  .teacher {
    right: 6% !important;
  }
}
@media only screen and (max-width: 850px) {
  .student {
    right: -30px !important;
  }

  .time {
    right: -30px !important;
  }

  .teacher {
    right: 4% !important;
  }
}
@media only screen and (max-width: 620px) {
  .student {
    right: -32px !important;
    top: 18% !important;
  }

  .time {
    top: 18% !important;
    right: -32px !important;
  }

  .teacher {
    top: 18% !important;
    right: 3% !important;
  }

  .header-last div p {
    font-size: 11pt !important;
  }
}
@media only screen and (max-width: 1160px) {
  .header-li-container ul {
    font-size: 9pt !important;
  }

  .search-box {
    width: 70% !important;
  }
}
@media only screen and (max-width: 950px) {
  .header-first {
    justify-content: flex-end !important;
  }
  .header-first .left-menu {
    width: 40% !important;
    margin-right: 20px;
  }
  .header-first .right-menu {
    width: 50% !important;
  }
  .header-first .right-menu .logo-container {
    width: 50% !important;
  }
  .header-first .right-menu .header-li-container {
    width: 50% !important;
    justify-content: flex-end !important;
  }

  #ul-header {
    display: none !important;
  }

  #menu-span {
    display: flex !important;
    color: white;
    margin-right: 25px;
  }

  #hr-menu {
    border-left: 1px solid rgba(255, 255, 255, 0.678);
    height: 50px;
    display: flex !important;
  }

  .search-box {
    width: 85% !important;
  }
}
@media only screen and (max-width: 820px) {
  .user-img-container {
    width: 60px !important;
    height: 60px !important;
  }
}
@media only screen and (max-width: 640px) {
  .h3-header-first {
    font-size: 18pt;
  }
}
@media only screen and (max-width: 540px) {
  .h3-header-first {
    font-size: 15pt;
  }
}
@media only screen and (max-width: 440px) {
  .h3-header-first {
    font-size: 12pt;
  }
}
@media only screen and (max-width: 480px) {
  .search-box {
    width: 95% !important;
  }
}
@media only screen and (max-width: 420px) {
  .header-last div p {
    font-size: 8pt !important;
  }
}