* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.route-div {
  min-height: 300px;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.MuiBackdrop-root {
  z-index: 1000;
}

@keyframes renderALL {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  70% {
    opacity: 0;
  }
  90% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}