.register-div{
    width: 60vw;
    min-height: 450px;
    height: auto;
    box-shadow: 0 0 20px #ccc;
    -webkit-box-shadow: 0 0 20px #ccc;
    -moz-box-shadow: 0 0 20px #ccc;
    padding: 20px;
    border-radius: 10px;
}