@charset "UTF-8";
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 80px;
  -webkit-box-shadow: 0 7px 10px -10px rgba(0, 0, 0, 0.35);
  box-shadow: 0 7px 10px -10px rgba(0, 0, 0, 0.35);
}
.navbar .left-child-nav {
  padding: 0;
  margin: 0;
  width: 20%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.navbar .left-child-nav .ear-h4-container {
  width: 80%;
  height: 90%;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  justify-content: flex-end;
}
.navbar .left-child-nav .ear-h4-container h4 {
  text-align: center;
  font-size: 12pt;
  transition: all 0.5s ease;
}
.navbar .left-child-nav .ear-h4-container h4 a {
  text-decoration: none;
  color: inherit;
}
.navbar .left-child-nav .ear-img-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 20%;
  height: 100%;
  justify-content: flex-start;
}
.navbar .left-child-nav .ear-img-container img {
  width: 60%;
  height: 60%;
}
.navbar .right-child-nav {
  padding: 0;
  margin: 0;
  width: 80%;
  height: 100%;
}
.navbar .right-child-nav .nav-ul {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  font-family: vazir;
}
.navbar .right-child-nav .nav-ul .option-nav {
  text-align: center;
  font-size: 11pt;
  cursor: pointer;
  transition: all 0.5s ease;
  margin-right: 14px;
}
.navbar .right-child-nav .nav-ul .option-nav:hover {
  color: #796fff;
}

.drop-down-navbar {
  position: absolute;
  top: 53px;
  right: 0;
  width: 200px;
  height: 200px;
  background-color: red;
}
.drop-down-navbar .ul-drop-down {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  background-color: blue;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  font-family: vazir;
  list-style: none;
  font-size: 12pt;
}
.drop-down-navbar .ul-drop-down li {
  width: 70%;
  margin-bottom: 10px;
  direction: rtl;
  text-align: right;
}
.drop-down-navbar .ul-drop-down li::before {
  content: "•";
  color: red;
  font-weight: bold;
  display: inline-block;
  width: 1rem;
  margin-right: -1rem;
}

@media only screen and (max-width: 1250px) {
  .navbar {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .right-child-nav {
    width: 100% !important;
  }

  .left-child-nav {
    display: none !important;
  }
}
@media only screen and (max-width: 1002px) {
  .navbar {
    display: none !important;
  }
}