.login-div{
    width: 35vw;
    height: 450px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    font-family: vazir;
    border-radius: 10px;
    box-shadow: 0 0 20px #ccc;
    -webkit-box-shadow: 0 0 20px #ccc;
    -moz-box-shadow: 0 0 20px #ccc;
}

.login-div h2{
    height: 15%;
    width: 100%;
    text-align: center;
    padding-top: 2%;
}

.login-div form{
    width: 100%;
    height: 85%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.input-div{
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.input-div input{
    width: 80%;
    height: 100%;
    outline: none;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border: solid 1px #999999;
    direction: rtl;
    padding-right: 10px;
    transition: all 0.5s ease;
}
.input-div input:focus{
    background-color: #EEEEEE;
}
.input-div span{
    width: 10%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: #EEEEEE;
    border: solid 1px #999999;
    border-left: none;
    color: rgb(73, 73, 73);
}


#reminde-me-div{
    width: 95%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#dv{
    width: 95%;
    height: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    
}

.pass-not{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    cursor: pointer;
    color: #1ca3c9;
    transition: all 0.5s ease;
}
.pass-not:hover{
    color: black;
}
.pass-not a{
    text-decoration: none;
    transition: all 0.5s ease;
}
.pass-not a:hover{
    color: black;
}
.pass-not span{
    margin-right: 10px;
    margin-left: 10px;
}

#submit-div-btn{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
#submit-btn{
    margin-right: 20px;
    width: 150px;
    height: 40px;
    border-radius: 5px;
    border: solid 2px #007965;
    outline: none;
    background-color: white;
    color: #007965;
    font-size: 15pt;
    transition: all 0.4s ease;
    position: relative;
}
#submit-btn::after{
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 0%;
    height: 100%;
    transition: all 0.3s ease;
    background-color: #00796538;
}
#submit-btn:hover::after{
    width: 100%;
}

@media only screen and (max-width: 1090px)
{
    .login-div{
        width: 50% !important;
    }
}
@media only screen and (max-width: 920px)
{
    .login-div{
        width: 60% !important;
    }
}
@media only screen and (max-width: 750px)
{
    .login-div{
        width: 70% !important;
    }
}
@media only screen and (max-width: 580px)
{
    .login-div{
        width: 80% !important;
        height: 500px !important;
    }
}
@media only screen and (max-width: 450px)
{
    .login-div{
        width: 95% !important;
    }
}