$bc : "background-color";

@mixin PM
{
    padding: 0;
    margin: 0;
}

@mixin Flex-center-center{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar{
    @include Flex-center-center();
    @include PM();
    width: 100%;
    height: 80px;
    -webkit-box-shadow: 0 7px 10px -10px rgba(0, 0, 0, 0.35);
    box-shadow: 0 7px 10px -10px rgba(0, 0, 0, 0.35);

    .left-child-nav{
        @include PM();
        width: 20%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        .ear-h4-container{
            width: 80%;
            height: 90%;
            @include PM();
            @include Flex-center-center();
            justify-content: flex-end;

            h4{
                text-align: center;
                font-size: 12pt;
                transition: all 0.5s ease;
                a{
                    text-decoration: none;
                    color: inherit;
                }
            }
        }

        .ear-img-container{
            @include Flex-center-center();
            width: 20%;
            height: 100%;
            justify-content: flex-start;
            
            img{
                width: 60%;
                height: 60%;
            }
        }
    }

    .right-child-nav{
        @include PM();
        width: 80%;
        height: 100%;

        .nav-ul{
            @include PM();
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            list-style: none;
            font-family: vazir;

            .option-nav{
                text-align: center;
                font-size: 11pt;
                cursor: pointer;
                transition: all 0.5s ease;
                margin-right: 14px;
                &:hover{
                    color: #796fff;
                }
            }
        }
    }
}


.drop-down-navbar{
    position: absolute;
    top: 53px;
    right: 0;
    width: 200px;
    height: 200px;
    #{$bc}: red;

    .ul-drop-down{
        @include PM();
        width: 100%;
        height: 100%;
        #{$bc}: blue;
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        align-items: center;
        // list-style-type: square;
        font-family: vazir;
        list-style: none;
        font-size: 12pt;

        li{
            width: 70%;
            margin-bottom: 10px;
            direction: rtl;
            text-align: right;
            &::before{
                content: "\2022";
                color: red;
                font-weight: bold;
                display: inline-block;
                width: 1rem;
                margin-right: -1rem;
            }
        }
    }
}



@media only screen and (max-width: 1250px)
{
    .navbar{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .right-child-nav
    {
        width: 100% !important;
    }
    .left-child-nav{
        display: none !important;
    }
}

@media only screen and (max-width: 1002px)
{
    .navbar{
        display: none !important;
    }
}