$bc : "background-color";

@mixin PM
{
    padding: 0;
    margin: 0;
}

@mixin flex($justify , $align){
    display: flex;
    justify-content: $justify;
    align-items: $align;
}

.navbar{
    @include flex(space-between , center);
    @include PM();
    width: 100%;
    height: 80px;
    -webkit-box-shadow: 0 7px 10px -10px rgba(0, 0, 0, 0.35);
    box-shadow: 0 7px 10px -10px rgba(0, 0, 0, 0.35);

    .left-child-nav{
        @include PM();
        width: 20%;
        height: 100%;
        @include flex(center, center);

        .ear-h4-container{
            width: 80%;
            height: 90%;
            @include PM();
            @include flex(flex-end, center);

            h4{
                text-align: center;
                font-size: 12pt;
                transition: all 0.5s ease;
                a{
                    text-decoration: none;
                    color: inherit;
                }
            }
        }

        .ear-img-container{
            @include Flex-center-center();
            width: 20%;
            height: 100%;
            justify-content: flex-start;
            
            img{
                width: 60%;
                height: 60%;
            }
        }
    }

    .right-child-nav{
        @include PM();
        width: 80%;
        height: 100%;

        .nav-ul{
            @include PM();
            width: 100%;
            height: 100%;
            @include flex(space-around, center);
            list-style: none;
            font-family: vazir;

            .option-nav{
                text-align: center;
                font-size: 11pt;
                cursor: pointer;
                transition: all 0.5s ease;
                margin-right: 14px;
                &:hover{
                    color: #796fff;
                }
            }
        }
    }
}

@media only screen and (max-width: 1250px)
{
    .navbar{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .right-child-nav
    {
        width: 100% !important;
    }
    .left-child-nav{
        display: none !important;
    }
}

@media only screen and (max-width: 1002px)
{
    .navbar{
        display: none !important;
    }
}