.footer-container {
  width: 100%;
  height: 350px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: flex-start;
  margin-top: 10vh;
}
.footer-container div {
  width: 100%;
  height: auto;
}
.footer-container .footer-header {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  background-color: #153248;
  height: 200px;
}
.footer-container .footer-header .enmad-div {
  width: 30%;
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-around;
}
.footer-container .footer-header .enmad-div div {
  width: 30%;
  height: 70%;
  background-color: white;
  border-radius: 10px;
}
.footer-container .footer-header .enmad-div div img {
  width: 100%;
  height: 100%;
}
.footer-container .footer-header .sendEmail-div {
  width: 70%;
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: flex-start;
  justify-content: center;
}
.footer-container .footer-header .sendEmail-div div {
  width: 95%;
  height: 45px;
  margin-top: 40px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  font-family: vazir;
}
.footer-container .footer-header .sendEmail-div div button {
  width: 17%;
  height: 100%;
  font-family: vazir;
  padding: 0;
  margin: 0;
  border: none;
  outline: none;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
  background-color: #61B832;
  color: white;
  font-size: 12pt;
}
.footer-container .footer-header .sendEmail-div div .email-div {
  width: 41.5%;
  height: 100%;
}
.footer-container .footer-header .sendEmail-div div .number-div {
  width: 41.5%;
  height: 100%;
}
.footer-container .footer-header .sendEmail-div div div {
  margin: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
}
.footer-container .footer-header .sendEmail-div div div input {
  width: 90%;
  outline: none;
  border: none;
  height: 100%;
  direction: rtl;
  padding-right: 5px;
}
.footer-container .footer-header .sendEmail-div div div input::placeholder {
  font-size: 11pt;
}
.footer-container .footer-header .sendEmail-div div div span {
  width: 10%;
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  background-color: white;
  color: gray;
}
.footer-container .footer-header .sendEmail-div div div .phone-span {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
.footer-container .footer-main {
  height: 75px;
  background-color: #153248;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
}
.footer-container .footer-main .left-main-footer {
  width: 20%;
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
}
.footer-container .footer-main .left-main-footer div {
  width: 40px;
  height: 40px;
  background-color: rgba(255, 255, 255, 0.082);
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  margin: 10px;
  color: white;
  cursor: pointer;
  transition: all 0.5s ease;
}
.footer-container .footer-main .left-main-footer div:hover {
  background-color: rgba(255, 255, 255, 0.219);
}
.footer-container .footer-main .right-main-footer {
  width: 80%;
  height: 100%;
}
.footer-container .footer-main .right-main-footer ul {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: flex-end;
  list-style: none;
  font-size: 10pt;
  font-family: vazir;
  color: white;
}
.footer-container .footer-main .right-main-footer ul .f {
  margin-right: 60px;
}
.footer-container .footer-main .right-main-footer ul li {
  margin-left: 40px;
  cursor: pointer;
  transition: all 0.5s ease;
  position: relative;
}
.footer-container .footer-main .right-main-footer ul li::after {
  content: "";
  background-color: #00bffe;
  box-shadow: 0 0 5px #00bffe;
  position: absolute;
  top: 35%;
  right: -10px;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: #00BFFE;
}
.footer-container .footer-main .right-main-footer ul li:hover {
  color: #07BFE1;
}
.footer-container .footer-footer {
  background-color: white;
  height: 75px;
  font-family: vazir;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
}
.footer-container .footer-footer p {
  text-align: center;
  padding: 0;
  margin: 0;
  font-size: 11pt;
}

@media only screen and (max-width: 1220px) {
  .right-main-footer ul {
    font-size: 8pt !important;
  }
}
@media only screen and (max-width: 1115px) {
  .footer-container {
    height: 450px !important;
  }
  .footer-container .footer-header {
    flex-direction: column-reverse !important;
    height: 300px !important;
  }
  .footer-container .footer-header .enmad-div {
    width: 80% !important;
    height: 55% !important;
    justify-content: center !important;
  }
  .footer-container .footer-header .enmad-div div {
    width: 15% !important;
    height: 80% !important;
    margin: 5px;
  }
  .footer-container .footer-header .sendEmail-div {
    width: 80% !important;
    height: 45% !important;
    align-items: center !important;
  }
  .footer-container .footer-header .sendEmail-div div {
    margin-top: 0px !important;
  }
}
@media only screen and (max-width: 1062px) {
  .footer-container {
    height: 550px !important;
  }
  .footer-container .footer-main {
    height: 175px !important;
    flex-direction: column-reverse !important;
  }
  .footer-container .footer-main .right-main-footer {
    width: 100% !important;
  }
  .footer-container .footer-main .right-main-footer ul {
    font-size: 11pt !important;
    justify-content: space-around !important;
  }
  .footer-container .footer-main .right-main-footer ul li {
    margin-left: 0px !important;
  }
  .footer-container .footer-main .left-main-footer {
    width: 100% !important;
  }
}
@media only screen and (max-width: 1038px) {
  .right-main-footer ul {
    font-size: 10pt !important;
  }
  .right-main-footer ul .f {
    margin-right: 0px !important;
  }
}
@media only screen and (max-width: 898px) {
  .sendEmail-div div button {
    font-size: 10pt !important;
  }
}
@media only screen and (max-width: 854px) {
  .right-main-footer ul {
    flex-wrap: wrap !important;
    justify-content: flex-start !important;
  }
  .right-main-footer ul li:nth-child(1)::after {
    right: 35% !important;
  }
  .right-main-footer ul li:nth-child(3)::after {
    right: 15% !important;
  }
  .right-main-footer ul li:nth-child(6)::after {
    right: 12% !important;
  }
  .right-main-footer ul li:nth-child(7)::after {
    right: 8% !important;
  }
  .right-main-footer ul li {
    width: 31% !important;
    text-align: center !important;
  }
  .right-main-footer ul li::after {
    right: 28% !important;
  }
}
@media only screen and (max-width: 665px) {
  .footer-footer p {
    font-size: 10pt !important;
  }
}